<div class="Actions">
  <div class="container">
    <div class="Actions-item">
      <h3>The Lounge</h3>
      <h4>Chat perfekt per mobile.</h4>
      <p>Një nga platformat më të përdorura për momentin për tu lidhur në Shqiperia Chat.</p>
      <a href="https://lounge.shqiperialive.net/#/connect" class="Button">chato</a>
    </div>

    <div class="Actions-item">
      <h3>Mibbit</h3>
      <h4>Per nostalgjiket.</h4>
      <p>Nëse keni probleme Te lidheni , ju sugjerojmë Mibbit. Funksionale për Smartphone dhe Tablet</a>.</p>
      <a href="https://mibbit.shqiperialive.net/" class="Button">chato me mibbit</a>
    </div>

    <div class="Actions-item">
      <h3>KiwiIRC</h3>
      <h4>Per ekstravagantet.</h4>
      <p>Platformë me dizajn të pastër dhe funksione shtesë nga Mibbit dhe KiwiIRC.</p>
      <a href="https://kiwi.shqiperialive.net/" class="Button">Chato</a>
    </div>
  </div>
</div>
