<div class="Actions">
  <div class="container">
    <div class="Actions-item">
      <h3>The Lounge</h3>
      <h4>Chat perfekt per mobile.</h4>
      <p>Një nga platformat më të përdorura për momentin për tu lidhur në Shqiperia Chat.</p>
      <a href="https://lounge.kupidi.com/" class="Button">chato</a>
    </div>

    <div class="Actions-item">
      <h3>Mibbit</h3>
      <h4>Per nostalgjiket.</h4>
      <p>Nëse keni probleme Te lidheni , ju sugjerojmë Mibbit. Funksionale për Smartphone dhe Tablet</a>.</p>
      <a href="https://widget.mibbit.com/?settings=ccf0c5912371eb94d6c832a64cc3b352&server=java.kupidi.com&channel=%23Chat%2C%23Shqiperia&customPrompt=&customLoading=Po%20lidheni%20ne%20Chat%20ju%20lutem%20prisni&noServerNotices=true&noServerMotd=true&noServerTab=false&nick=" class="Button">chato me mibbit</a>
    </div>

    <div class="Actions-item">
      <h3>KiwiIRC</h3>
      <h4>Per ekstravagantet.</h4>
      <p>Platformë me dizajn të pastër dhe funksione shtesë nga Mibbit dhe KiwiIRC.</p>
      <a href="https://kiwi.albnetwork.org" class="Button">Jasht Sherbimi</a>
    </div>
  </div>
</div>
