<div class="Actions">
  <div class="container">
    <div class="Actions-item">
      <h3>The Lounge</h3>
      <h4>Chat perfekt per mobile.</h4>
      <p>Një nga platformat më të përdorura për momentin për tu lidhur në Shqiperia Chat.</p>
      <a href="https://lounge.kupidi.com/#/connect" class="Button">chato</a>
    </div>

    <div class="Actions-item">
      <h3>Mibbit</h3>
      <h4>Per nostalgjiket.</h4>
      <p>Mibbit Na Ka Njoftuar Se Me 30 Gusht do behet Shutting Down!Ju Sugjerojme te perdorni The Lounge ose Kiwi Irc</a>.</p>
      <a href="https://parajsachat.com/chat/MibbitChat.html" class="Button">chato me mibbit</a>
    </div>

    <div class="Actions-item">
      <h3>Kiwi IRc</h3>
      <h4>Per ekstravagantet.</h4>
      <p>Platformë me dizajn të pastër dhe funksione shtesë nga Mibbit.</p>
      <a href="https://kiwi.kupidi.com/" class="Button">Chato</a>
    </div>
  </div>
</div>
