<div class="Team">
  <div class="Team-members">
    <div class="Team-member">
      <h3>
        <a href="https://forum.albnetwork.org/u/Timi" target="_blank">
          <img src="{{ site.baseurl }}/img/it.png" alt="" width="108" height="108">
          Timi
        </a>
      </h3>
      <h4>RootAdmin</h4>
    </div>

    <div class="Team-member">
      <h3>
        <a href="https://forum.albnetwork.org/u/LuXor" target="_blank">
          <img src="{{ site.baseurl }}/img/uk.png" alt="" width="108" height="108">
          LuXor
        </a>
      </h3>
      <h4>RootAdmin</h4>
      <h4><a href="https://parajsachat.com/" target="_blank">ParajsaChat</a> Developer</h4>
    </div>

    <div class="Team-member">
      <h3>
        <div class="b">
        <img src="https://forum.albnetwork.org/assets/avatars/31Z5Ot0IxqKRU4CC.png" alt="" width="108" height="108" style="border-radius: 50%;-webkit-filter: grayscale(100%); filter: grayscale(100%);">
        <img src="{{ site.baseurl }}/img/al.png" alt="" width="108" height="108" >
	</div>
        <a href="https://forum.albnetwork.org/u/server" target="_blank">
	Server
        </a>
      </h3>
      <h4>RootAdmin</h4>
      <h4><a href="https://albnetwork.org/" target="_blank">AlbNetwork.org</a> Owner</h4>
    </div>	
	
    <div class="Team-member">
      <h3>
        <a href="https://forum.albnetwork.org/u/n00b" target="_blank">
          <img src="https://forum.albnetwork.org/assets/avatars/eHm7BljrAZuiDjwz.png" alt="" width="108" height="108" style="border-radius: 50%;-webkit-filter: grayscale(100%); filter: grayscale(100%);">
          n00b
        </a>
      </h3>
      <h4>RootAdmin</>
    </div>
 

 </div>

  <div class="Team-actions">
    <a href="{{ site.baseurl }}/skuadra/" class="Button">Skuadra e Plote</a>
  </div>
</div>
