<div class="Team">
  <div class="Team-members">
    <div class="Team-member">
      <h3>
        <a href="http://forum.albnetwork.org/index.php?members/timi.10/" target="_blank">
          <img src="{{ site.baseurl }}/img/it.png" alt="" width="108" height="108">
          Timi
        </a>
      </h3>
      <h4>RootAdmin</h4>
    </div>

    <div class="Team-member">
      <h3>
        <a href="http://forum.albnetwork.org/index.php?members/luxor.16/" target="_blank">
          <img src="{{ site.baseurl }}/img/uk.png" alt="" width="108" height="108">
          LuXor
        </a>
      </h3>
      <h4>RootAdmin</h4>
      <h4><a href="https://parajsachat.com/" target="_blank">ParajsaChat</a> Developer</h4>
    </div>

    <div class="Team-member">
      <h3>
        <a href="http://forum.albnetwork.org/index.php?members/server.23/" target="_blank">
        <img src="{{ site.baseurl }}/img/it.png" alt="" width="108" height="108" >
	Server
        </a>
      </h3>
      <h4>RootAdmin</h4>
      <h4><a href="https://albnetwork.org/" target="_blank">AlbNetwork.org</a> Owner</h4>
    </div>	
	
    <div class="Team-member">
      <h3>
        <a href="https://forum.albnetwork.org/index.php?members/zeno.21/" target="_blank">
        <img src="{{ site.baseurl }}/img/it.png" alt="" width="108" height="108" >
	Zeno
        </a>
      </h3>
      <h4>RootAdmin</h4>
    </div>
 

 </div>

  <div class="Team-actions">
    <a href="{{ site.baseurl }}/skuadra/" class="Button">Skuadra e Plote</a>
  </div>
</div>
